.all{
    display: flex;
    background-color: black;
    color: white;
    padding: 15px;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 8px;
    padding-bottom: 2px;
}
.nav-item-8{
    color: green;
}
.nav-item-16{
    color: red;
}
.nav-item-1{
    background-color: blue;
    padding: 5px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}