.all .container1{
    /* border: 2px solid; */
    height: 300px;
    width: 180px;
    display: inline-block;
    
    margin: 10px;
    /* padding-left: 20px  ; */
   
}
.container1 .sec{
    height: 81%;
    width: 100%;
    position: relative;
    
    /* border: 2px solid red; */
}
.container1 .sec img{
    height: 100%;
    width: 100%;
    opacity: 0.9;
    filter: grayscale(60%);
    
}

.container1 .sec p{
    text-align: left;
    font-size: 75%;
}

.spn{
    position: absolute; 
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 90%;
    padding: 5px;
}
